#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

header {
  display: flex;
  gap: 4px;
  margin-bottom: 16px;
  justify-content: center;
  align-items: center;
}

/* 2 Forma */
.table--showColors tr:nth-child(2n) {
  background: #333;
}
.table--showColors tr:nth-child(2n+1) {
  background: #555;
}

.pointer {
  cursor: pointer;
}